.tours
    min-height: 94.2rem
    padding: 8rem 0 8rem 0
    &__title
        @include secondary-title
        @include gradient
        text-align: center
        margin-bottom: 8rem
    &__card-wrapper
        display: flex
        justify-content: space-around
        margin-bottom: 8rem
    &__button
        margin: 0 auto
        box-shadow: $box-shadow